.formContainer-admin {
  width:  100%;
  height: 682px;
  background-color: #ebebeb;
  border-radius: 20px;
  padding: 20px;
  
}

.formBox-admin {
  display: flex;
  flex-direction: column;
}

.formRow-admin {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.formInput-admin {
  flex: 1;
}

.submitButton-admin {
  align-self: flex-end;
}
